<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ketaba</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"  type="text/css">
    <link rel="stylesheet"  th:href="@{/css/elegant-icons.css}"  type="text/css">
    <link rel="stylesheet"  th:href="@{/css/css/flaticon.css}"  type="text/css">
    <link rel="stylesheet"  th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet"  th:href="@{/css/nice-select.css}"  type="text/css">
    <link rel="stylesheet"  th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet"  th:href="@{/css/magnific-popup.css}"  type="text/css">
    <link rel="stylesheet"  th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet"  th:href="@{/css/style.css}"  type="text/css">

</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="canvas-open">
    <i class="icon_menu"></i>
</div>

<!-- Offcanvas Menu Section End -->

<!-- Header Section Begin -->
<header th:insert="blocks/header :: header"></header>

<div align="center"> <form  method="post" action="filterEv" class="fn-form">
    <input type="text" name="filter" placeholder="Search title">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <button type="submit"><i class="fa fa-search"></i></button>
</form></div>
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Blog</h2>
                    <div class="bt-option">
                        <a href="./home.html">Home</a>
                        <span>Blog Grid</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->
<section class="blog-section blog-page spad">
    <div class="container">
        <div class="row">

            <div th:each="el :${events}" class="col-lg-4 col-md-6">
                <div class="blog-item set-bg" data-setbg="img/blog/blog-1.jpg">
                    <div class="bi-text">
                        <h4 th:text="${el.title}"></h4>
                        <a th:href="'/events/' + ${el.id}">More details</a>
                        <div th:text="${el.date}" class="b-time"><i class="icon_clock_alt"></i></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="load-more">
                    <a href="#" class="primary-btn">Load More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Footer Section Begin -->
<footer th:insert="blocks/footer :: footer"></footer>
<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script th:src="@{js/jquery-3.3.1.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}" ></script>
<script th:src="@{js/jquery.magnific-popup.min.js}" ></script>
<script th:src="@{js/jquery.nice-select.min.js}" ></script>
<script th:src="@{js/jquery-ui.min.js}" ></script>
<script th:src="@{js/jquery.slicknav.js}" ></script>
<script th:src="@{js/owl.carousel.min.js}" ></script>
<script th:src="@{js/main.js}" ></script>
</body>

</html>