<div th:fragment="header">
  <head><link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"></head>
  <header class="header-section header-normal">
    <div class="top-nav">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <ul class="tn-left">
              <li><i class="fa fa-phone"></i>(+996) 559 009 741</li>
              <li><a style="color: #1E1E1E;" href="mailto:ketaba.kg@gmail.com"><i class="fa fa-envelope"></i> ketaba.kg@gmail.com</a></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <div class="tn-right">
              <div class="top-social">
                <a  href="https://t.me/+996559009741"><i class="fa fa-telegram"></i></a>
                <a href="https://www.instagram.com/ketaba.kg/"><i class="fa fa-instagram"></i></a>
              </div>
              <a href="#" class="bk-btn">Booking Now</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <div class="logo">
              <a href="./index.html">
                <img src="img/Снимок экрана 2023-05-05 170535.png" width="60px" alt="">

              </a>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="nav-menu">
              <nav class="mainmenu">
                <ul>
                  <li class="active"><a href="/hotels">Rooms</a></li>
                  <li><a href="/hotels/add">Add a hotel</a>
                  <li><a href="/events/add">Add an event</a>
                  <li><a href="/sights/add">Add a sights</a></li>
                  <li><a href="/events">Events</a></li>
                  <li><a href="/sights">Sights</a></li>
                  <li><a href="/contacts">Contact</a></li>
                  <li><form th:action="@{/logout}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="submit" value="Sign Out"/>
                  </form></li>
                </ul>
              </nav>
              <div class="nav-right search-switch">
                <i class="icon_search"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>